PORT=4000
DATABASE_URL="postgresql://viettour:viettour123@127.0.0.1:5433/quanlytourdulich?schema=public"
CORS_ORIGIN=http://localhost:3000

# Gmail SMTP Configuration (Mã xác thực OTP Email)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM_NAME="VietTour Security"

# VNPAY SANDBOX CONFIGURATION (MERCHANT TEST VNPAY)
VNP_TMNCODE="FXFAHFEP"
VNP_HASHSECRET="ZSBAXCUFSMZFYBKMELPCEWLUSMAJDHLI"
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNP_RETURNURL="http://localhost:3000/portal/my-bookings?payment_status=vnpay_return"
VNP_API="https://sandbox.vnpayment.vn/merchant_webapi/api/transaction"
